.business-page {
  position: relative;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.business-image-container {
  height: 90vh; /* Image takes up 90% of the viewport height */
  width: 100%;
  overflow: hidden;
}

.business-image {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.business-info-container {
  padding: 20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -20px;
  z-index: 1;
  position: relative;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.business-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-name {
  font-size: 2rem;
  color: #333;
}

.business-rating {
  display: flex;
  align-items: center;
}

.star-icon {
  color: gold;
  margin-right: 5px;
}

.business-rating span {
  font-size: 1.5rem;
  color: #333;
}

.business-details {
  margin-top: 20px;
  font-size: 1rem;
  color: #666;
}

/* Bottom Navigation Bar Styles */
.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
