/* Tel Aviv Page */
.tel-aviv-page {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out items */
  overflow: hidden;
  padding-bottom: 56px; /* Adjust to the height of your bottom bar */
}

/* Section Styling */
section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  font-family: 'Georgia', serif;
}

/* Business Container */
.business-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Evenly distribute the business items */
  height: 100%; /* Full height of the section */
  padding: 20px;
  box-sizing: border-box;
}

/* Business Item */
.business-item {
  flex: 1 0 calc(33.33% - 20px); /* Each item takes 1/3 of the container height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px; /* Add spacing between items */
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.business-item:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

/* Adjust Headline */
h2 {
  color: black;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20px;
}